/*----------------------------*\
  1. MAIN SETUP
\*----------------------------*/
$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A7BC;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


body {
  background: $primary-color-dark;
  color: $primary-color-text;
  font-family: 'Roboto', sans-serif;
}

.hide {
  display: none;
}





/*----------------------------*\
  2. CLOCK CONTAINER
\*----------------------------*/
.clock-container {
  background: $primary-color;
  margin: 0 auto;
  padding-top: 2%;
  max-width:  320px;
  max-height: 540px;
  width:  100%;
  height: 100vh;
}

  h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: lighter;
    text-align: center;
    width: 100%;
  }





/*----------------------------*\
  3. DISPLAY
\*----------------------------*/
.display {
  border: 10px solid $primary-color-dark;
  border-radius: 100%;
  display: flex;
  margin: 0 auto;
  max-height: 243px;
  max-width: 280px;
  width: 100%;
  height: 100%;
}

  .clock {
    align-items: center;
    font-size: 40px;
    height: 40px;
    line-height: 243px;
    margin: 0 auto;
  }





/*----------------------------*\
  4. NUMBER BOXES
\*----------------------------*/
.number-row {
  margin-top: 15%;
  text-align: center;
}

  .number-row input {
    background: $primary-color;
    border: none;
    border-bottom: 4px solid $divider-color;
    color: $primary-color-text;
    cursor: default;
    font-size: 20px;
    text-align: center;
    width: 92px;
    height: 27px;
  }

  .number-row input:focus {
    outline: none;
  }

  button {
    background: $primary-color;
    border: none;
    color: $divider-color;
    font-size: 20px;
    font-weight: bolder;
    padding: 0;
    position: relative;
    text-align: center;
    margin: 0;
    width: 10px;
    height: 27px;
  }

  button:nth-child(3) {
    margin-right: 15px;
  }

  button:nth-child(4) {
    margin-left: 15px;
  }

  button:nth-child(1),
  button:nth-child(4) {
    left: 12px;
  }

  button:nth-child(3),
  button:nth-child(6) {
    left: -16px;
  }

  button:hover {
    cursor:pointer;
  }

  button:focus {
    outline: none;
  }

/*----------------------------*\
  5. CONTROLS
\*----------------------------*/

.control-row {
  color: $primary-color-dark;
  font-size: 44px;
  margin-top: 10%;
  height: 44px;
  text-align: center;
}

  .play {
    cursor: pointer;
  }

  .pause {
    cursor: pointer;
  }
